body{
    margin:0%;
    background-color:coral;
}

h3{
    font-size:xx-large;
    color:beige;
}

div.container{
    text-align:center;
    margin-top:35vh;
}
span{
    display: inline-block;
    background-color:beige;
    padding:20px;
    border-radius:10px;
    font-size:x-large;
    font-weight: 500;
}

.alarm-popup{
    display:none;
    background-color:beige;
    /* display: inline-block; */
    text-align: center;
    height:50vh;
    width:30vw;
    padding:1vw;
    border-radius:2vw;
    border:solid 5px black;
    position:relative;
    z-index:1;
}

#time-label{
    font-size:7vh;
}

#date-time{
    width:222px;
    height:70px;
    border-radius: 10px;
    background-color:coral;
    color:beige;
    border:solid 3px black;
    margin-top:7vh;
    font-size:xx-large
}

.alarm-popup >.cross-icon{

   margin-bottom:5vh;
   display:flex;
   justify-content: end;

}

.btn-set{
    width:7vw;
    height:5vh;
    background-color:coral;
    color:beige;
    border-radius:5px;
    font-size: medium;
    font-weight: 600;
    margin-top:10px;
    border: inset 5px grey;
}