body{
    margin:0%;
    background-color:coral;
}

h3{
    font-size:x-large;
    color:beige;
}

div.container{
    text-align:center;
    margin-top:35vh;
}
span{
    display: inline-block;
    background-color:beige;
    padding:20px;
    border-radius:10px;
    font-size:x-large;
    font-weight: 500;
}
.alarm-popup{
    /* display:none; */
    background-color:beige;
    display: inline-block;
    text-align: center;

}

#time-label{
    font-size:x-large;
}

#date-time{
    width:166px;
    height:44px;
    border-radius: 10px;
    background-color:coral;
    color:beige;
    border:solid 3px black;
}