body{
    margin:0;
}

p{
    font-size:larger;
    font-weight:bold;
}

span{
    display:inline-block;
    width:50px;
    height:50px;
    border:solid 2px black;
    user-select:none;
}

div.main-container{
    text-align: center;
    margin-top:35vh;
    z-index:0;
}
h3{
    font-size:x-large;

}

/***************Extras******************/
/*button and color changing feature*/ 

button{
    background-color: black;
    color:white;
    border-style: inset;
    width:144px;
    height:60px;
    font-size:20px;
}
img{
    /* the z-index is used to provide the cat gif ability to move above the
     div and relative so that we can move it based on its previous actual position*/
    display:none;
    position:relative;
    z-index:10;
    top:10;
}

p.dance-stop-info{
    font-size:small;
}